* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color:darkcyan;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    border:solid;
    border-color:black;
}

.header {
    padding: 25px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color:white;
    background-image: url("images/background3.jpg");
    background-repeat:no-repeat;
    background-size:cover;
    background-blend-mode: multiply;
    color:black;
    border: solid;
}

.header h1 {
    display: inline-block;
    font-size: 80px;
    color: burlywood;
}

.header h1 .seo {
    color: black;
}

.header div {
    padding-top: 15px;
    margin-right: 15px;
    display: flex;
    flex-direction:row-reverse;
    font-family: sans-serif,'Times New Roman', Times, serif;
    font-size: 30px;
    color:black;
    
}

.header div ul {
    list-style-type: none;
}
.profile-picture {
    border:solid;
    border-radius:50%;
    display: flex;
    align-items: stretch;
    height:500px;
    width: 380px;
    overflow: hidden;

    
   
}

.header div ul li {
    display: inline-block;
    margin-left: 25px;
    border: solid;
    border-color: black;
}

.row {
    display: flex;
    height: 400px;
  }

.row-1 {
    display: flex;
    height: 600px;
  }
  .contact-me {
      text-align: center;
      font-size:20px;
      color:white;
  }

 .footer {
     width: 100%;
     font-size: 20px;
     height:15px;
     padding-bottom: 100px;
    text-align: center;
    border:solid;
    border-color:black;
    color:burlywood;
  }
  
.column {
    flex: 20%;
    height: 100px;
    text-align: center;
    padding-top: 250px;
    font-size: 50px;
    color: white;
  }

  .column-1 {
    flex: 80%;
    border: solid;
    font-size: 45px;
    font-family: 'Times New Roman', Times, serif;
    color:burlywood;
    border-color:black;
  }
  .dirtimage {
      
  }

a {
    color: white;
    text-decoration: none;
    font-size: 50px;

   
}
