* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    border:solid;
    border-color:black;
   background-color:rgb(237, 229, 229);
   background-image:url("images/backgroundbody1.jpg");
}

.header {
    padding: 25px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color:white;
    background-image: url("images/background3.jpg");
    background-repeat:no-repeat;
    background-size:cover;
    background-blend-mode: multiply;
    color:black;
    border: solid;
}

.header h1 {
    display: inline-block;
    font-size: 80px;
    color: rgb(232, 167, 82)
}

.header h1 .seo {
    color: black;
}

.header div {
    padding-top: 15px;
    margin-right: 15px;
    display: flex;
    flex-direction:row-reverse;
    font-family: sans-serif,'Times New Roman', Times, serif;
    font-size: 30px;
    color:black;
    
}

.header div ul {
    list-style-type: none;
}
.profile-picture {
    border:solid;
    border-radius:50%;
    display: flex;
    align-items: stretch;
    height:500px;
    width: 380px;
    overflow: hidden;

    
   
}

.header div ul li {
    display: inline-block;
    margin-left: 25px;
    border: solid;
    border-color: black;
}

.row {
    display: flex;
    height: 400px;
  }

.row-1 {
    display: flex;
    height: 600px;
  }
  .contact-me {
      text-align: center;
      font-size:40px;
      color:white;
      padding-bottom: 20px;
  }

 .footer {
     width: 100%;
     font-size: 20px;
     height:15px;
     padding-bottom: 150px;
    text-align: center;
    border:solid;
    border-color:black;
    color:black;
    background-color:rgb(240, 239, 246);
    
  }
  
.column {
    flex: 20%;
    height: 100px;
    text-align: center;
    padding-top: 250px;
    font-size: 60px;
    color:black;
  }

  .column-1 {
    flex: 80%;
    border:solid;
    border-color:black;
    font-size: 40px;
    font-family: 'Times New Roman', Times, serif;
    color:white;
    
    overflow:scroll;
    background-color:black;
  }
  .column-2 {
      height:500px;
      width:500px;
      border:solid;
      border-color:black;
      background-color:rgb(254, 246, 240);
      float: right;
      padding-top: 30px;
      text-align:center;
      font-size:30px;
      font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
      background-image: url("images/surfimage2.jpg");
      background-repeat: no-repeat;
      background-size:cover;
      background-position-x: center;
      background-blend-mode: multiply;
      color:white;
    

  }
  .column-3 {
        height:500px;
        width:500px;
        border:solid;
        border-color:black;
        background-color:rgb(254, 246, 240);
        padding-top: 30px;
        text-align:center;
        font-size:30px;
        font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        background-image: url("images/LEDIMAGE.jpeg");
        background-position-x: center;
        color:white;
  
  }
  .column-4 {
        height:500px;
        width:500px;
        border:solid;
        border-color:black;
        background-color:rgb(254, 246, 240);
        float: right;
        padding-top: 30px;
        text-align:center;
        font-size:30px;
        font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        background-image: url("images/calculator.jpg");
        background-position-x:center;
        color:white;
  
  }
 
      
  .row2 {
      border:solid;
      border-color:white;
      width:100px;
  }


a {
    color: white;
    text-decoration: none;
    font-size: 50px;

   
}